body {
    color: WhiteSmoke;
    background-color: #A99987;
}

.tabs td.selected {
    border-top: 1px solid #775537;
    border-left: 1px solid #775537;
    border-right: 1px solid #775537;
}

.tabs td.filled {
    border-top: 1px solid #775537;
    border-left: 1px solid #775537;
    border-right: 1px solid #775537;
    border-bottom: 1px solid #775537;
}

.tabs td.gutter {
    border-bottom: 1px solid #775537;
}

.outer-ring {
    background-color: #775537;
}

.void {
    background-color: #A99987;
}

.inner-ring {
    background-color: #A77F5F;
}

.core {
    background-color: #A99987;
}
