body {
    color: WhiteSmoke;
    background-color: #2F2424;
}

.tabs td.selected {
    border-top: 1px solid Gold;
    border-left: 1px solid Gold;
    border-right: 1px solid Gold;
}

.tabs td.filled {
    border: 1px solid Gold;
}

.tabs td.gutter {
    border-bottom: 1px solid Gold;
}

.outer-ring {
    background-color: Gold;
}

.void {
    background-color: #2F2424;
}

.inner-ring {
    background-color: DarkGoldenrod;
}

.core {
    background-color: #2F2424;
}
