body {
    color: WhiteSmoke;
    background-color: #0B0104;
}

.tabs td.selected {
    border-top: 1px solid #9C0935;
    border-left: 1px solid #9C0935;
    border-right: 1px solid #9C0935;
}

.tabs td.filled {
    border-top: 1px solid #9C0935;
    border-left: 1px solid #9C0935;
    border-right: 1px solid #9C0935;
    border-bottom: 1px solid #9C0935;
}

.tabs td.gutter {
    border-bottom: 1px solid #9C0935;
}

.outer-ring {
    background-color: #9C0935;
}

.void {
    background-color: #0B0104;
}

.inner-ring {
    background-color: #CC0C45;
}

.core {
    background-color: #0B0104;
}
